@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles {
<style>
    body {
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/bg-movie.jpg");
    }
</style>
}



<h1>@ViewData["Title"]</h1>
<div class="container">
    <p class="text-light">Use this page to detail your site's privacy policy.</p>
</div>
